# Configuration file for PHPStan
# vendor/bin/phpstan analyse
parameters:
	level: 8  # From 0 to 8
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	paths:
		- src
		- test
		- template-tree
	ignoreErrors:
	    - '#Parameter \#1 \$exception of method PHPUnit\\Framework\\TestCase::expectExceptionObject\(\) expects Exception, Neighborhoods\\ThrowableDiagnosticComponent\\ThrowableDiagnosticV1\\DiagnosedInterface given.#'
	    - '#Parameter \#1 \$exception of method PHPUnit\\Framework\\TestCase::expectExceptionObject\(\) expects Exception, Neighborhoods\\ThrowableDiagnosticComponent\\ThrowableDiagnosticV1\\DiagnosedInterface&PHPUnit\\Framework\\MockObject\\MockObject given.#'
	    - '#Property .*::\$.* has no typehint specified.#'
	    - '#Method .*::.*\(\) has no return typehint specified.#'
	    -
	      message: '#Unreachable statement - code above always terminates.#'
	      path: src/ThrowableDiagnosticV1/ThrowableDiagnostic.php
	      count: 1
	    -
	      message: '#Unreachable statement - code above always terminates.#'
	      path: src/ThrowableDiagnosticV1Decorators/PostgresV1/PostgresDecorator.php
	      count: 2
	    -
	      message: '#If condition is always false.#'
	      path: template-tree/BuphaloV1/ThrowableDiagnostic/Decorator/PrimaryActorName.php
